<#@ output extension="cs" #>

<#
   var includeNamespace = "";
   var projectFile = Host.ResolvePath (@"..\MicroParser\MicroParser.csproj");
   var blackList = new Regex[]
      {
         BlackList (@"AssemblyInfo.cs$"),
      };
#>

<#@ include file="..\LinkableCode\IncludeProject.ttinclude"#>