<#@ output extension="cs" #>

#define MICRO_PARSER_SUPPRESS_ANONYMOUS_TYPE
#define MICRO_PARSER_NET35

<#
   var includeNamespace = "Include";
   var projectFile = Host.ResolvePath (@"..\MicroParser\MicroParser.csproj");
   var blackList = new Regex[]
      {
         BlackList (@"AssemblyInfo.cs$"),
      };
#>

<#@ include file="..\LinkableCode\IncludeProject.ttinclude"#>