<#@ output extension="cs" #>

<#
   var includeNamespace = "";
   var projectFile = Host.ResolvePath (@"..\..\MicroParser.Json\MicroParser.Json.csproj");
   var blackList = new Regex[]
      {
         BlackList (@"AssemblyInfo.cs$"),
      };
#>

<#@ include file="..\..\LinkableCode\IncludeProject.ttinclude"#>